<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<application android:label="IssueApp.Droid">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBs4NgTFVSZKmmSP2gct6Z8gW-gHoV4oFU" />
	</application>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>